  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Exo+2:600);
  .logo {
      font-family: 'Exo 2', sans-serif;
  }
  
  .welcome-text {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  footer.page-footer {
      margin: 0;
  }
  
  .row {
      margin-bottom: 0px;
  }
  
  nav {
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0), 0px 2px 10px 0px rgba(0, 0, 0, 0);
  }
  
  footer.page-footer {
      padding-top: 0px;
  }
  
  page {
      <!--display: none;
      -->
  }
  
  .card {
      overflow: visible;
  }
  /* label color */
  
  .input-field label {
      color: #FFF;
  }
  /* label focus color */
  
  .input-field input[type=text]:focus + label {
      color: #FFF;
  }
  /* label underline focus color */
  
  .input-field input[type=text]:focus {
      border-bottom: 1px solid #FFF;
      box-shadow: 0 1px 0 0 #FFF;
  }
  /* valid color */
  
  .input-field input[type=text].valid {
      border-bottom: 1px solid #FFF;
      box-shadow: 0 1px 0 0 #FFF;
  }
  /* invalid color */
  
  .input-field input[type=text].invalid {
      border-bottom: 1px solid #FFF;
      box-shadow: 0 1px 0 0 #FFF;
  }
  /* icon prefix focus color */
  
  .input-field .prefix.active {
      color: #FFF;
  }
  
  textarea.materialize-textarea:focus:not([readonly]) + label {
      color: #FFF;
  }
  
  label {
      color: #FFF;
  }
  
  .switch label input[type="checkbox"]:checked + .lever::after {
      background-color: #9c27b0;
  }
  
  .switch label input[type="checkbox"]:checked + .lever {
      background-color: #9c27b0;
  }
  
  .dropdown-content li > span {
      font-size: 1.2rem;
      color: #9c27b0;
      display: block;
      padding: 1rem;
  }
  
  input[type=password].valid {
      border-bottom: 1px solid #9c27b0;
  }
  
  input[type=password]:focus:not([readonly])+label {
      color: #FFFFFF;
  }
  
  input[type=password]:focus:not([readonly]) {
      border-bottom: 1px solid #FFFFFF;
  }
  
  input:not([type]) {
      height: 1rem;
      margin: 0 0 0 0;
      border-bottom: 1px solid #FFFFFF;
  }
  
  .responseDisplay {
      height: 50vh;
      width: 50vw;
  }
  
  [type="radio"].with-gap:checked+label:before {
      border-radius: 50%;
      border: 2px solid #9c27b0;
  }
  
  [type="radio"].with-gap:checked+label:after {
      border: 2px solid #9c27b0;
      background-color: #9c27b0;
  }
  
  input:not([type]):focus:not([readonly]) {
      height: 1rem;
      margin: 0 0 0 0;
      border-bottom: 1px solid #9c27b0;
  }
  
  .collection {
      margin: 0rem 0 1rem 0;
  }
  
  .input-field {
      margin-top: 0rem;
  }
  
  #a {
      cursor: pointer;
  }
  
  textarea.materialize-textarea {
      overflow-y: hidden;
      padding: 1rem 0;
      padding-top: 1rem;
      padding-right: 0px;
      padding-bottom: 1rem;
      padding-left: 0px;
      resize: none;
      min-height: 3rem;
  }
  
  .collection {
      border: 0px;
  }
  
  .collapsible {
      border-top: 0px solid #ddd;
      border-right: 0px solid #ddd;
      border-left: 0px solid #ddd;
  }
  
  .collapsible-body {
      border-bottom: 0px solid #ddd;
  }
  
  .collapsible-header {
      background-color: rgba(0, 0, 0, 0.0);
      border-bottom: 0px solid #ddd;
  }
  
  .chart-legend li span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
  }
  
  .hidebtn {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 10px 0 rgba(0, 0, 0, 0.0);
      background-color: rgba(0, 0, 0, 0.0);
      text-transform: none;
  }
  
  .hidebtn:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 10px 0 rgba(0, 0, 0, 0.0);
      background-color: rgba(0, 0, 0, 0.0);
  }
  
  .flow-text {
      margin-left: auto;
      margin-right: auto;
  }
  
  .responseSelectionButton {
      margin-bottom: 10px;
  }
  
  [type="checkbox"]+label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0px;
      height: 0px;
      z-index: 0;
      border: 0px solid #5a5a5a;
      border-radius: 0px;
      margin-top: 0px;
      transition: 0s;
  }
  
  [type="checkbox"]+label:after {
      color: green;
  }
  
  [type="checkbox"]:checked+label:before {
      border-right: 2px solid #4CAF50;
      border-bottom: 2px solid #4CAF50;
  }